body{
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none !important;
    color: unset;
}
@media(min-width: 576px){   
    .container{
        padding: 0 15px !important;
    }
}

/*---Top Bar---*/
.top-bar{
    background-color: #228be6;
    padding: 5px calc(10% - 30px);
}
.top-bar a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
}
.top-bar a .icon{
    margin-right: 10px;
}
@media(max-width:600px){
    
    .top-bar{
        padding: 0;
    }
    .top-bar a{
        display: inline-block;
        margin: 10px 10px;
    }
}
/*---End Top Bar---*/

/*--- Navigation ---*/
.navbar{
    width: 100%;
    /* padding: 0; */
    /* padding: 10px 10%; */
    padding: 10px;
    transition: background-color .3s ease-in-out;
}
.container{
    padding: 0;
}
.navbar .navbar-toggler{
    color: white;
    border: none;
}
.navbar .navbar-toggler:focus{
    border: none;
    outline: none;
}
.navbar .navbar-brand{
    /* font-size: 40px; */
    font-weight: 700;
    color: white;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus{
    color: white;
}
.navbar .navbar-brand small {
    display:block;
    font-size: 12px;
    font-weight: 600;
    /* letter-spacing: 1.5px; */
  }
  .navbar a.nav-link{
      display: inline-block !important;
    color: white !important;
    /* font-size: 20px; */
    font-weight: 700;
}
.navbar a.nav-link:hover{
    cursor: pointer;
}

/*---Login Modal---*/
.login-modal .modal-content{
    padding: 30px 0;
}
.login-modal .modal-header{
    border-bottom: 0;
}
.login-modal .close:focus{
    border: none;
    outline: none;
}
#login-error-msg {
    margin-top: 5px;
    color: #8a0000;
    opacity: 0;
  }
.login-form{
    width: 80%;
    margin: auto;
}
.login-form .login-btn{
    font-weight: bold;
    color: #228be6;
    border: #228be6 1px solid;
    background-color: hsla(0, 0%, 0%, 0);
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 20px !important;
    /* float: right; */
  }
  
  .login-form .login-btn:hover{
    color: white;
    background-color: #228be6;
  }
  @media(max-width: 767px){
    .navbar{
        background-color: rgba(0,0,0,0.8);
    }
  }
  @media(max-width: 600px){
    .login-form{
        /* padding: 50px 10px; */
    }
}
/*---End Login Modal---*/
@media(max-width:576px){
    .navbar{
        padding: 0;
        padding: 10px 10px;
    }
      
    .navbar .navbar-brand{
        font-size: 20px;
        font-weight: 700;
    }
    .navbar .navbar-brand small {
        display:block;
        font-size: 10px;
        /* font-weight: 600; */
        /* letter-spacing: 1.5px; */
    }

    .navbar a.nav-link{
        color: white !important;
        font-size: 12px;
        font-weight: 700;
    }
    .bottom-bar{
        padding: 10px;
    }
    .bottom-bar p{
        font-size: 12px;
    }
  }

/*--- End Navigation ---*/

/*---Footer---*/
footer .bottom-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 40px;
    background-color: #228be6;
    /* padding: 0 10%; */
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
    /* text-align: right; */
    padding: 0 10px;
}
footer .bottom-bar p{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    margin: 0;
}
@media(max-width:576px){
    footer .bottom-bar{
        padding: 0 10px;
    }
    footer .bottom-bar p{
        font-size: 12px;
    }
  }
/*---End Footer---*/